.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 0;
  color: white;
  z-index: 1000 !important;
  background: var(--blue);
  transition: 0.3s;
  transform: translateY(-110%);
  opacity: 1;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.transparent {
  background: transparent;
}

.header__logo {
  cursor: pointer;
}

.header__inner {
  max-width: 1770px;
  width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;

  align-items: center;
  gap: 50px;
}

.header__link {
  font-weight: 500;
  cursor: pointer;
}

.header__button {
  border-radius: 35px;
  padding: 12px 30px;
  font-weight: 500;
  box-shadow: 0 0 0 1.5px white;
  transition: 0.2s var(--cubic-transition);
}

.hoverUnderline {
  position: relative;
}

.hoverUnderline::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: 0.2s;
}

.hoverUnderline:hover::after {
  width: 100%;
}
