.footer {
  background-position: top;
  position: relative;
  z-index: 1;
  padding-top: 150px;
  color: white;
  margin-top: -140px;
  background: var(--lightblack);
}

.footer__bg {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/footer.png) no-repeat center center / cover;
  z-index: -1;
  background-position: top;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer__title {
  text-align: right;
  font-size: 100px;
  padding-right: 100px;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  gap: 30px;
}

.footer__column {
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.footer__column__title {
  font-size: 35px;
}

.footer__column__line {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.footer__column__line__icon {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}

.footer__lower {
  position: relative;
  top: 60px;
  width: 100%;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  background: white;
  font-weight: 500;
  color: var(--blue);
  font-size: 1.05rem;
  padding: 32px 0;
  margin-top: 50px;
}

.footer__lower__inner {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footerLinkHoverUnderline {
  position: relative;
}

.footerLinkHoverUnderline::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background: var(--blue);
  transition: 0.2s;
}

.footerLinkHoverUnderline:hover::after {
  width: 100%;
}

@media screen and (max-width: 1420px) {
  .footer__title {
    font-size: 80px;
    line-height: 90px;
  }
}

@media screen and (max-width: 1120px) {
  .footer__bg {
    background: url(../../assets/footerMobileBg.png) no-repeat center center / cover;
    background-position: top;
  }
  .footer__title {
    font-size: 60px;
    line-height: 70px;
    padding-right: unset;
  }
  .footer__row {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
  }
  .footer__column:nth-child(2) {
    align-self: flex-end;
    text-align: right;
  }
  .footer__column:nth-child(2) .footer__column__line {
    justify-content: flex-end;
  }
  .footer__lower__inner {
    flex-direction: column;
  }
  .footer__nav {
    flex-direction: column;
    gap: 20px;
  }
  .footer__rights {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__bg {
    top: 25px;
  }
}

@media screen and (max-width: 600px) {
  .footer__title {
    font-size: 45px;
    line-height: 50px;
  }
}
